In [1]:
import pandas as pd

In [28]:
tablero1 = pd.DataFrame({1: "~", 2: "~",3: "~",4: "~",5: "~",6: "~",7: "~",8: "~",9: "~",10: "~"},index=[1, 2,3,4,5,6,7,8,9,10])
tablero1

   1  2  3  4  5  6  7  8  9  10
1   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
2   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
3   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
4   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
5   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
6   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
7   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
8   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
9   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
10  ~  ~  ~  ~  ~  ~  ~  ~  ~  ~

In [22]:
class Barco:
    def __init__(self, df): 
        self.df = df

    def colocar_barco(self, size, df):
        self.size = size

        fil = int(input("Introduce la coordenada fila"))
        col = int(input("Introduce la coordenada columna"))

        if df.loc[fil,col] == "#" :
            print("Ops! There´s already a boat,try again!")
            return False


        else:
            h_v = input("escribe 'h' si quieres horizontal o 'v' si quieres vertical")

            if h_v == "h":
                if col == 10:
                    print("You´re out of range")
                    return False
                else:
                    fil = fil 
                    col_f = col + size -1
            # Creo que aquí habría que meter un if
                    df.loc[fil,col:col_f] = "#"
                    print(tablero1)
                    return df
            #df.loc[4,5:5+2-1]

            if h_v == "v":
                if fil == 10:
                    print("You´re boat is out of range")
                    return False
                else: 
                    fil_f = fil + size -1
                    col = col
                    df.loc[fil:fil_f,col] = "#"
                    print(tablero1)
                    return df

In [23]:
barco_pequeño = Barco(tablero1)

In [27]:
def coloca_tus_barcos(n,barco,tamaño):
    contador = 1
    while contador < n: 
        print(f'Coloca el barco{contador} de tamaño {tamaño}')
        print("contador:",contador)
        barco.colocar_barco(2,tablero1)
        contador += 1
        if barco.colocar_barco(2,tablero1) == False:
            print("Try Again!")
            contador -= 1 


    return tablero1

coloca_tus_barcos(5, barco_pequeño, "pequeño")

Coloca el barco1 de tamaño pequeño
contador: 1
Ops! There´s already a boat,try again!
   1  2  3  4  5  6  7  8  9  10
1   #  #  #  ~  ~  ~  ~  ~  ~  ~
2   #  ~  ~  ~  ~  ~  ~  ~  ~  ~
3   ~  ~  ~  #  ~  ~  ~  ~  ~  ~
4   ~  ~  ~  #  #  #  ~  ~  ~  ~
5   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
6   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
7   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
8   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
9   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
10  ~  ~  ~  ~  ~  ~  ~  ~  ~  ~

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [13]:
from random import randint, uniform,random

In [54]:
x= randint(0,6)
y= randint(0,6)
def func_random(jugador1,jugador2):
    print(x)
    if x > y:
        print(x)
        return Jugador1
    else:
        print(y) 
        return jugador2
        
func_random(input("Nombre 1"),input("Nombre 2"))

In [55]:
func_random(input("Nombre 1"),input("Nombre 2"))

4
6

'jdjdo'