# Python | day 2 | collections & if/else & for

### Exercise 1.

1. Create a variable called **num_bridge** with a value of 15.

In [12]:
num_bridge = 15

2. Create a variable called **name_street** with the value "Recoletos".

In [14]:
name_street = "Recoletos"

3. Create a variable called **personal_taste** which should be `True` if you like the beach better or `False` if you rather choose mountain. 

```python
Example: 
personal_taste = True
```

In [16]:
personal_taste = True

4. Create a variable called **nothing** like follows: `nothing = None`. `None`doesn't represent any value, something you should keep in mind if you do `if nothing:` then `nothing` acts as a boolean `False`.

In [18]:
nothing = None

5. Create a variable called **address_list**. This should be a list which contains the following: first element **name_street** and second element **num_bridge**.

In [ ]:
address_list = [name_street, num_bridge]
print(address_list)

6. Create a variable called **sleep_hours** that should contains, as a string, the hours you've slept today.

In [9]:
sleep_hours = 7

7. Create a list called **info_list** containing every variable you've just created in the order you have done it.

```python
len(info_list) == 6
True
```

**IMPORTANT: you will use `info_list` at some point during the ramp-up**

In [10]:
info_list = [num_bridge, name_street, personal_taste, nothing, address_list, sleep_hours]
print(info_list)

[15, 'Recoletos', True, None, ['Recoletos', 15], 7]

8. Run the following cell in order to delete every variable you've just created and keep **info_list** only.
Print **info_list** once you've done it to check the list still exists.

In [11]:
#run this
del num_bridge
del name_street
del personal_taste
del nothing
del address_list
del sleep_hours

In [13]:
print(info_list)

[15, 'Recoletos', True, None, ['Recoletos', 15], 7]

### Exercise 2.

You'll need `info_list` in order to continue with this exercise. Remember don't use any variable except `info_list`. 

Print the following. Don't use functions and/or loops.

 1. Sum up the street number of The Bridge and the hours you slept last night.

In [15]:
info_list[0]+ int(info_list[5])

22

2. Concatenate the street number of The Bridge, the name of the street, your personal taste and the hours you slept. All of them should be separated by `" --> "`.

In [17]:
info_list = [15, 'Recoletos', True, None, ['Recoletos', 15], 7]
separa = "-->"

for i in info_list:
    frase = str(i)+separa
    print(frase)

15-->
Recoletos-->
True-->
None-->
['Recoletos', 15]-->
7-->

3. Access to the list which is at the fourth position of **info_list** and print the result of: 
     - The concatenation of both elements contained in the list found in fourth position of **info_list**. 
     - The multiplication of the lenght of the list and the lenght of the street's name.
    
   If at the fourth position of **info_list** you don't find a list, go back to Exercise 1, please.

In [19]:
print(info_list[4])
for i in info_list[4]:
    sum(str(i))
    print(i)

['Recoletos', 15]

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### Exercise 3.

1. Get user input using input(“Enter your age: ”). If user is 18 or older, give feedback: You are old enough to drive. If below 18 give feedback to wait for the missing amount of years.

In [21]:
x = int(input("Enter your age"))
if x >= 18:
    print("You are old enough to drive")
else:
    print("Wait for") 
    print (18-x)

You are old enough to drive

2. Compare the values of **my_age** and **your_age** using if/else. Who is older (me or you)? Use input(“Enter your age: ”) to get **your_age** as input. **my_age** is always your age, cause you are the one coding the program.

In [22]:
my_age = 24
your_age = int(input("enter your age"))
if my_age > your_age:
 print("I'm older than you")
else:
 print("You are older than me")

You are older than me

3. Get two numbers from the user using input prompt. If a is greater than b return "a is greater than b", if a is less b return "a is smaller than b", else "a is equal to b".

In [23]:
a = int(input("insert a number"))
b = int(input("insert another number"))
if a > b:
 print("a is greater than b")
else:
 print("b is greater than a")

a is greater than b

### Exercise 4

Learn about **for loop**

Watch this video: https://www.youtube.com/watch?v=wxds6MAtUQ0

Read this: https://www.w3schools.com/python/python_for_loops.asp

You may need this to understand what is going on with your loops: http://www.pythontutor.com/visualize.html#mode=edit

Declare four variables: 
- A string variable containing your surname. 
- Two integers variables: one, with the number of the street in which you live, and two, the age of the classmate sitting on your right. 
    If you are on the right edge of the table, look for your classmate on your left.
    If you are on remote, choose one of your mates who are on remote too. 
- A list containing the variables you have just declared.

In [26]:
surname = "Palomares"
number_of_street = 180
classmate_age = 25
list = [surname, number_of_street, classmate_age]

Using a **for loop** print every element of the list you've just created.

In [27]:
for i in list:
    print(i)

Palomares
180
25

Using a **for loop** and a **if** make sure you only print the element in the list which is a string
(Your surname).

In [30]:
for i in list:
    if type(i) == str:
        print(i)

Palomares

**Well done!**

### Exercise 5

1. The following list contains some fruits:
    
`fruits = ['banana', 'orange', 'mango', 'lemon']`

If a fruit doesn't exist in the list add the fruit to the list and print the modified list. If the fruit exists print('That fruit already exist in the list')

Note: You can solve this exercise using or not `for` loop.

In [4]:
fruits =['banana', 'orange', 'mango', 'lemon']
nueva_fruta = input("escrine una fruta:")
se_ha_insertado = False
for fruta in fruits:
    if fruta == nueva_fruta :
        print("That fruit already exist")
        break 
    elif se_ha_insertado == False:

        fruits.append(nueva_fruta)
        se_ha_insertado = True


print(fruits)

That fruit already exist
['banana', 'orange', 'mango', 'lemon', 'pera']

2. Prints the numbers between 0 and 70 that are multiples of 3 and 5.

SyntaxError: invalid syntax (<ipython-input-1-9fbe5df31773>, line 1)

3. Given two lists of same lenght, create a third list which contains the sum of both of the list, element by element. 

```python
Example: 
a = [1,2]
b = [4,5]
new_list = [5,7]
```

In [2]:
a = [8, 9, 10]
b = [12, 66, 30]

### Bonus Track

4. Print the following pattern:

```python
1
22
333
4444
55555
666666
7777777
88888888
999999999
```

5. Get first, second best scores from the list.
List contains duplicates.

In [ ]:
scores = [86,86,85,85,85,83,23,45,84,1,2,0]

6. From the given list:
    
    a) Create separate lists of strings and numbers.

    b) Sort the strings' list in ascending order

    c) Sort the strings' list in descending order

    d) Sort the number's list from lowest to highest

    e) Sort the number's list from highest to lowest

In [ ]:
gadgets = ["Mobile", "Laptop", 100, "Camera", 310.28, "Speakers", 27.00, 
           "Television", 1000, "Laptop Case", "Camera Lens"]

7. Make a list of ten aliens, each of which is one color: 'red', 'green', or 'blue'.
    - You can shorten this to 'r', 'g', and 'b' if you want, but if you choose this option you have to include a comment explaining what r, g, and b stand for.
    - Red aliens are worth 5 points, green aliens are worth 10 points, and blue aliens are worth 20 points.
    - Use a for loop to determine the number of points a player would earn for destroying all of the aliens in your list.

!["hola"](https://preview.redd.it/wk843smkri441.jpg?width=960&crop=smart&auto=webp&s=1a4d7a5ddeef38c03334d275afe3a9dd33866ce8)