### Se pide:

A partir del archivo "USA_Housing.csv", realizar la regresión lineal entre cada columna numérica con la columna 'price'. 

Cuando existe una columna(variable) que es la que se quiere comparar, se le llama 'target'.

In [5]:
import pandas as pd

df = pd.read_csv("USA_Housing.csv", sep=",")
df

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,7.954.545.857.431.670,5.682.861.321.615.580,7.009.188.142.792.230,4.09,23.086.800.502.686.400,10.590.335.578.701.200,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,7.924.864.245.482.560,60.028.998.082.752.400,6.730.821.019.094.910,3.09,4.017.307.217.364.480,150.589.091.484.695,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61.287.067.178.656.700,5.865.889.840.310.000,8.512.727.430.375.090,5.13,3.688.215.939.970.450,10.589.879.878.760.800,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,6.334.524.004.622.790,71.882.360.945.186.400,5.586.728.664.827.650,3.26,3.431.024.283.090.700,12.606.168.066.294.400,USS Barnett\nFPO AP 44820
4,59.982.197.225.708.000,5.040.554.523.106.280,7.839.387.785.120.480,4.23,26.354.109.472.103.100,6.309.434.893.385.400,USNS Raymond\nFPO AE 09386
...,...,...,...,...,...,...,...
4995,60.567.944.139.865.900,7.830.362.443.635.720,613.735.622.764.076,3.46,22.837.361.034.746.400,1.060.193.785.884.600,USNS Williams\nFPO AP 30153-7653
4996,7.849.127.543.459.780,6.999.134.987.291.410,6.576.762.660.738.700,4.02,2.561.611.548.906.120,1.482.617.728.622.020,"PSC 9258, Box 8489\nAPO AA 42991-3352"
4997,6.339.068.688.550.460,7.250.590.614.779.540,4.805.080.980.291.150,2.13,33.266.145.489.652.100,10.307.295.831.522.800,"4215 Tracy Garden Suite 076\nJoshualand, VA 01..."
4998,6.800.133.123.508.690,5.534.388.416.220.340,7.130.143.864.349.470,5.44,4.262.562.015.585.080,11.986.568.724.076.800,USS Wallace\nFPO AE 73316
4999,65.510.581.803.666.200,5.992.305.307.333.970,6.792.336.104.424.980,4.07,4.650.128.380.314.160,12.989.504.802.669.500,"37778 George Ridges Apt. 509\nEast Holly, NV 2..."