# Python | day 6 | dictionaries

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is unordered, changeable and does not allow duplicates.

Dictionaries are written with curly brackets, and have keys and values:

```python
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
```

https://www.w3schools.com/python/python_dictionaries.asp

### Exercise 1. 

1. Create a dictionary with an integer 5 as the key and "val" as its value.

In [83]:
diccionario = {5:"val"}

2. Create two lists: one that has 4 city names and another that has 4 landmarks in the city.

In [84]:
cities = ["Madrid", "Barcelona", "Malaga", "Bilbao"]
landmark = ["Sol", "Sagrada Familia", "Catedral", "Museo Guggenheim"]

3. Create a dictionary where the cities contained in the first list are the **keys** and the landmarks are the **values**.
```python
#example
places = {"Malaga": "Gibralfaro", 
         "Madrid": "Templo de Debod",
         "Granada": "La Alcazaba",
         "Barcelona": "Sagrada Familia"}
```

In [85]:
 places = {}
for i in range(len(cities)):
    places[cities[i]] =landmark[i]
places

{'Madrid': 'Sol',
 'Barcelona': 'Sagrada Familia',
 'Malaga': 'Catedral',
 'Bilbao': 'Museo Guggenheim'}

4. Loop through the dictionary and print only the values of those keys starting with the letter **M**.

https://realpython.com/iterate-through-dictionary-python/

In [86]:
for keys, values in places.items():
    if keys[0] == "M":
        print(values)

Sol
Catedral

5. Create a function that receives two lists `list1` and `list2` by parameter and returns a dictionary with each element of `list1` as keys and the elements of `list2` as values. Call the function with the lists you have created before to return the same dictionary you've created in question 3.

In [87]:
def dictionary1(lista1, lista2):
    diccionario= {}
    for i in range(len(lista1)):
        diccionario[lista1[i]] = lista2[i]
    return diccionario

In [88]:
dictionary1(cities,landmark)

{'Madrid': 'Sol',
 'Barcelona': 'Sagrada Familia',
 'Malaga': 'Catedral',
 'Bilbao': 'Museo Guggenheim'}

### Exercise 2.

1. Create an empty dictionary called dog.

In [89]:
dog = {}

2. Add name, color, breed, legs, age to the dog dictionary.

In [90]:
tipos = ["Name", "color", "breed", "legs", "age"]
my = ["Nico", "Marron", "Labrador", 4, 8]
for i in range(len(tipos)):
    dog[tipos[i]] = my[i]
dog

{'Name': 'Nico', 'color': 'Marron', 'breed': 'Labrador', 'legs': 4, 'age': 8}

3. Create a student dictionary and add first_name, last_name, age, skills, country, city and address as keys for the dictionary.

In [10]:
studentnames = ["first_name", "last_name", "age", "skills", "country", "city", "adress"]
mine = ["Isabel", "Palomares", "24", "[jrogjo, jfojntj]", "Spain", "Madrid", "Vinateros"]
studentdictionary ={}
for i in range(len(studentnames)):
   studentdictionary[studentnames[i]] = mine[i]
studentdictionary

{'first_name': 'Isabel',
 'last_name': 'Palomares',
 'age': '24',
 'skills': '[jrogjo, jfojntj]',
 'country': 'Spain',
 'city': 'Madrid',
 'adress': 'Vinateros'}

4. Get the length of the student dictionary.

In [92]:
len(studentdictionary)

7

5. Get the value of skills and check the data type, it should be a list.

In [93]:
print(studentdictionary["skills"])
type(studentdictionary["skills"])

[jrogjo, jfojntj]

str

6. Modify the skills values by adding one or two skills.

In [11]:
studentdictionary["skills"] =["ofijrfjir", "kgirogjrog"]
print(studentdictionary)

AttributeError: 'str' object has no attribute 'append'

7. Get the dictionary keys as a list.

In [97]:
lista = studentdictionary.keys()
print(lista)

dict_keys(['first_name', 'last_name', 'age', 'skills', 'country', 'city', 'adress'])

8. Get the dictionary values as a list.

In [98]:
lista_v = studentdictionary.values()
print(lista_v)

dict_values(['Isabel', 'Palomares', '24', '[jrogjo, jfojntj]', 'Spain', 'Madrid', 'Vinateros'])

9. Change the dictionary to a list of tuples using `items()` method

In [5]:

tuplalist = studentdictionary.items()
print(tuplalist)

dict_items([('first_name', 'Isabel'), ('last_name', 'Palomares'), ('age', '24'), ('skills', '[jrogjo, jfojntj]'), ('country', 'Spain'), ('city', 'Madrid'), ('adress', 'Vinateros')])

10. Delete one of the items in the dictionary.

In [7]:
del studentdictionary["first_name"]
print(studentdictionary)

{'last_name': 'Palomares', 'age': '24', 'skills': '[jrogjo, jfojntj]', 'country': 'Spain', 'city': 'Madrid', 'adress': 'Vinateros'}

### Bonus Track

**Tómate un zumito a tu salud.**

!['daughter'](https://i.pinimg.com/originals/8f/35/28/8f35281e742e71be09697e7e6789b819.png)