### 1. 

En el archivo "logistic_regression_df_class" hemos visto un ejemplo multiclase. Elimina del dataframe todas las filas que se correspondan con la clase valor "1".

Ahora, realiza el ejercicio con el nuevo dataframe:

- ¿Se mejora la precisión del algoritmo con dos clases? ¿por qué?

LogisticRegression() es una clase que tiene varios parámetros de entrada. Investiga (modifica, prueba) los argumentos y comenta si modificando algunas de ellas se mejora el porcentaje de acierto del problema (probar al menos 2 diferentes)

https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html

In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn import model_selection
#from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import seaborn as sb

In [4]:
df = pd.read_csv("../data/usuarios_win_mac_lin.csv")
df

     duracion  paginas  acciones  valor  clase
0         7.0        2         4      8      2
1        21.0        2         6      6      2
2        57.0        2         4      4      2
3       101.0        3         6     12      2
4       109.0        2         6     12      2
..        ...      ...       ...    ...    ...
165      13.0        1         7     42      0
166      12.0        1         2      6      0
167      13.0        1         3      9      0
168      13.0        1         7     28      0
169      12.0        1         6     18      0

[170 rows x 5 columns]

In [11]:
df = df.drop(df[df['clase']==1].index)

In [14]:
df.reset_index(inplace=True)

In [15]:
df

     index  duracion  paginas  acciones  valor  clase
0        0       7.0        2         4      8      2
1        1      21.0        2         6      6      2
2        2      57.0        2         4      4      2
3        3     101.0        3         6     12      2
4        4     109.0        2         6     12      2
..     ...       ...      ...       ...    ...    ...
125    165      13.0        1         7     42      0
126    166      12.0        1         2      6      0
127    167      13.0        1         3      9      0
128    168      13.0        1         7     28      0
129    169      12.0        1         6     18      0

[130 rows x 6 columns]