### 1. 

En el archivo "logistic_regression_df_class" hemos visto un ejemplo multiclase. Elimina del dataframe todas las filas que se correspondan con la clase valor "1".

Ahora, realiza el ejercicio con el nuevo dataframe:

- ¿Se mejora la precisión del algoritmo con dos clases? ¿por qué?

LogisticRegression() es una clase que tiene varios parámetros de entrada. Investiga (modifica, prueba) los argumentos y comenta si modificando algunas de ellas se mejora el porcentaje de acierto del problema (probar al menos 2 diferentes)

https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html

In [63]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn import model_selection
#from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import seaborn as sns

In [64]:
df = pd.read_csv("../data/usuarios_win_mac_lin.csv")
df

     duracion  paginas  acciones  valor  clase
0         7.0        2         4      8      2
1        21.0        2         6      6      2
2        57.0        2         4      4      2
3       101.0        3         6     12      2
4       109.0        2         6     12      2
..        ...      ...       ...    ...    ...
165      13.0        1         7     42      0
166      12.0        1         2      6      0
167      13.0        1         3      9      0
168      13.0        1         7     28      0
169      12.0        1         6     18      0

[170 rows x 5 columns]

In [65]:
df = df.drop(df[df['clase']==1].index)

In [66]:
df.reset_index(inplace=True, drop=True)
df

     duracion  paginas  acciones  valor  clase
0         7.0        2         4      8      2
1        21.0        2         6      6      2
2        57.0        2         4      4      2
3       101.0        3         6     12      2
4       109.0        2         6     12      2
..        ...      ...       ...    ...    ...
125      13.0        1         7     42      0
126      12.0        1         2      6      0
127      13.0        1         3      9      0
128      13.0        1         7     28      0
129      12.0        1         6     18      0

[130 rows x 5 columns]

In [67]:
X = np.array(df.drop(['clase'], axis=1))
y = np.array(df['clase'])
print(y.shape)
X.shape

(130,)

(130, 4)

In [68]:
model = linear_model.LogisticRegression()
model.fit(X,y)
model.score(X, y)

0.9538461538461539

### Si añadimos el parámetro max_iter con el valor de 22 el score sube.

In [69]:
model = linear_model.LogisticRegression(max_iter=22)
model.fit(X,y)
model.score(X, y)

C:\Users\34606\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\linear_model\_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

0.9615384615384616

In [93]:
model = linear_model.LogisticRegression(max_iter=22,n_jobs=1000)
model.fit(X,y)
model.score(X, y)