# Data Science Bootcamp - The Bridge 
## Precurso
En este notebook vamos a ver, uno a uno, los conceptos básicos de Python. Constarán de ejercicios prácticos acompañados de una explicación teórica dada por el profesor.

Los siguientes enlaces están recomendados para el alumno para profundizar y reforzar conceptos a partir de  ejercicios y ejemplos:

- https://facundoq.github.io/courses/aa2018/res/02_python.html

- https://www.w3resource.com/python-exercises/

- https://www.practicepython.org/

- https://es.slideshare.net/egutierrezru/python-paraprincipiantes

- https://www.sololearn.com/Play/Python#

- https://github.com/mhkmcp/Python-Bootcamp-from-Basic-to-Advanced

Ejercicios avanzados:

- https://github.com/darkprinx/100-plus-Python-programming-exercises-extended/tree/master/Status (++)

- https://github.com/mahtab04/Python-Programming-Practice (++)

- https://github.com/whojayantkumar/Python_Programs (+++)

- https://www.w3resource.com/python-exercises/ (++++)

- https://github.com/fupus/notebooks-ejercicios (+++++)

Tutor de ayuda PythonTutor:

- http://pythontutor.com/

## 1. Variables y tipos

### Cadenas

In [60]:
# Entero - Integer - int
x = 7
# Cadena - String - Lista de caracteres
x = "lorena"
print(x)

x = 7
print(x)

lorena
7

In [61]:
# built-in
type (x)

int

In [62]:
x = 5
y = 7

z = x + y
print(z)

12

In [64]:
x = "'lorena' \" "
l = 'silvia----'

g = x + l
# Las cadenas se concatenan
print(g)

'lorena' " silvia----

In [65]:
print(g)

'lorena' " silvia----

In [75]:
# type muestra el tipo de la variable
type(g)

str

In [67]:
type(3)

int

In [68]:
# print es una función que recibe varios argumentos y cada argumento está diferenciado por la coma. Después de cada coma, la función 'print' añade un espacio.

# mala praxis
print(    g,z  ,    6,     "cadena")

# buena praxis - PEP8
print(g, z, 6, "cadena")

'lorena' " silvia---- 12 6 cadena
'lorena' " silvia---- 12 6 cadena

In [77]:
x = 5
s = "6"

In [78]:
print (x + s)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [82]:
# Cambiar de int a str
# built-in
x = 6
print(type(x))
x = str(6)
print(type(x))

<class 'int'>
<class 'str'>

In [83]:
x = 5
z = "6" + str(x)
print(z)

65

In [85]:
# Cambiar de str a int
s = "56"
print (s)
print(type(s))
s = int(s)
print(s)
print(type(s))

z = 7 + s
print(z)

56
<class 'str'>
56
<class 'int'>
63

In [71]:
# Para ver la longitud de una lista de caracteres (lista)

In [72]:
# String, Integer, Float, List, None (NaN), bool
# str, int, float, list, bool

In [86]:
x = 5.875
print(type(x))

<class 'float'>

In [87]:
o = x + 2
print (o)

7.875

In [88]:
x = int(x)
print (x)

5

In [90]:
x = float(x)
print(x)

5.0

In [73]:
m = ((((65 + int("22")) * 2)))
m

174

In [93]:
s = "89"

In [91]:
print(type(int(s)))

<class 'int'>

In [94]:
# los decimales son float. Python permite las operaciones entre int y float
x = 4
y = 4.2

print(x + y)

8.2

In [95]:
t = 5
g = 2
print(t / g)

2.5

In [97]:
# La división normal (/) es siempre float
# La división absoluta (//) puede ser: 
# - float si uno de los dos números (o los dos) son float
# - int si los dos son int 
j = 15
k = 4
division = j // k
print(division)

3

In [98]:
num1 = 12
num2 = 3

suma = num1 + num2
resta = num1 - num2
multiplicacion = num1 * num2 
division = num1 / num2
division_absoluta = num1 // num2

print("suma:", suma)
print("resta:", resta)
print("multiplicacion:", multiplicacion)
print("division:", division)
print("division_absoluta:", division_absoluta)
print(type(division))
print(type(division_absoluta))

suma: 15
resta: 9
multiplicacion: 36
division: 4.0
division_absoluta: 4
<class 'float'>
<class 'int'>

In [ ]:
# Jupyter notebook permite que la última línea se imprima por pantalla ( la variable )

In [ ]:
# Soy un comentario
# print("Hello Python world!")
# Estoy creando una variable que vale 2
"""
Esto es otro comentario
"""

## Ejercicio: 
### Crear una nueva celda.
### Declarar tres variables: 
- Una con el nombre "edad" con valor vuestra edad
- Otra "edad_compañero_der" que contengan la edad de tipo entero de vuestro compañero de la derecha
- Otra "suma_anterior" que contenga la suma de las dos variables anteriormente declaradas

 Mostrar por pantalla la variable "suma_anterior"

In [101]:
edad = 24
edad_companero_der = 25
suma_anterior = edad + edad_companero_der
print (suma_anterior)

49

In [121]:
# funciones built-in de string

string1 = "Hola"
print(string1.upper())

HOLA

## 2. Números y operadores

In [105]:
### Enteros ###

x = 3

print("- Tipo de x:")
print(type(x)) # Imprime el tipo (o `clase`) de x
print("- Valor de x:")
print(x)       # Imprimir un valor
print("- x+1:")
print(x + 1)   # Suma: imprime "4"
print("- x-1:")
print(x - 1)   # Resta; imprime "2"
print("- x*2:")
print(x * 2)   # Multiplicación; imprime "6"
print("- x^2:")
print(x ** 2)  # Exponenciación; imprime "9"
# Modificación de x
x += 1 
print("- x modificado:")
print(x)  # Imprime "4"

x *= 2
print("- x modificado:")
print(x)  # Imprime "8"

print("- El módulo de x con 40")
print(40 % x)

print("- Varias cosas en una línea:")
print(1, 2, x, 5*2) # imprime varias cosas a la vez

- Tipo de x:
<class 'int'>
- Valor de x:
3
- x+1:
4
- x-1:
2
- x*2:
6
- x^2:
9
- x modificado:
4
- x modificado:
8
- El módulo de x con 40
0
- Varias cosas en una línea:
1 2 8 10

In [106]:
# El módulo muestra el resto de la división entre dos números
4 % 2

0

In [ ]:
numero = 99

numero % 2  # Si el resto es 0, el número es par. Sino, impar.

## Título markdown

# INPUT

In [117]:
x = input()
print(x)

56

In [119]:
x = int(input("escribe un numero:"))

## 3. Tipo None

In [120]:
x = None

## 4. Listas y colecciones

In [107]:
# Lista de elementos:

# Las posiciones se empiezan a contar desde 0
s = "Cadena"

In [123]:
lista = [3, 7.2, "hola"]
print(lista[2])

hola

In [124]:
print(lista[-2])

7.2

In [108]:
s = "Hola soy Clara"

print(s[::-1])

aralC yos aloH

In [109]:
# Para acceder a varios elementos, se especifica con la nomenclatura "[N:M]". N es el primer elemento a obtener, M es el último elemento a obtener pero no incluido. Ejemplo: 

# Queremos mostrar desde las posiciones 3 a la 7. Debemos especificar: [3:8]

# Si M no tiene ningún valor, se obtiene desde N hasta el final. 
# Si N no tiene ningún valor, es desde el principio de la colección hasta M
s[3:len(s)]

'a soy Clara'

In [10]:
# Agrega un valor a la última posición de la lista
lista = [4, "x"]
lista.append(7)
print(lista)

[4, 'x', 7]

In [111]:
# remove elimina el primer elemento que se encuentra que coincide con el valor del argumento

In [112]:
# Accedemos a la posición 1 del elemento que está en la posición 2 de lista

In [113]:
l.reverse()

AttributeError: 'str' object has no attribute 'reverse'

### Colecciones

1. Listas
2. String (colección de caracteres)
3. Tuplas
4. Conjuntos (Set)

In [ ]:
# Listas --> Mutables
lista = [2, 5, "caract", [9, "g", ["j"]]]
print(lista[-1][-1][-1])
lista[3][2][0]

In [ ]:
# Tuplas --> Inmutables

tupla = (2, 5, "caract", [9, "g", ["j"]])
tupla

In [ ]:
# Update listas
lista = [2, "6", ["k", "m"]]
lista[1] = 1
lista

In [ ]:
# Conjuntos

conjunto = [2, 4, 6, "a", "z", "h", 2]
conjunto = set(conjunto)
conjunto

In [ ]:
conjunto = ["a", "z", "h", 2, 2, 4, 6, True, True, False]
conjunto = set(conjunto)
conjunto

In [ ]:
conjunto = ["a", "z", "h", 2, 2, 4, 6, 2.1, 2.4, 2.3, True, True, False]
conjunto = set(conjunto)
conjunto

In [ ]:
conjunto_tupla = ("a", "z", "h", 2, 2, 4, 6, 2.1, 2.4, 2.3, True, True, False)
conjunto = set(conjunto_tupla)
conjunto

In [ ]:
conjunto = {"a", "z", "h", 2, 2, 4, 6, 2.1, 2.4, 2.3, True, True, False}
conjunto

In [ ]:
s = "String"
lista_s = list(s)
lista_s

In [ ]:
s = "String"
conj = {s}
conj

In [ ]:
# Cambiar de tupla a lista, remover elemento y convertir en tupla

In [ ]:
conjunto = {2, 5, "h"}
lista_con_conjunto = [conjunto]
lista_con_conjunto[0]

In [ ]:
# No podemos acceder a elementos de un conjunto
lista_con_conjunto[0][0]

## 5. Condiciones: if, elif, else

### Boolean

In [ ]:
True
False

In [ ]:
# Operadores comparativos

In [ ]:
# Diferente

In [ ]:
"""
==  -> Igualdad
!= -> Diferecia
< -> Menor que
> -> Mayor que
<= -> Menor o igual
>= -> Mayor o igual
"""

In [ ]:
# and solo devolverá True si TODOS son True
True and False

In [ ]:
# or devolverá True si UNO es True

In [ ]:
# Sinónimos de False para las condiciones:
# None
# False
# 0 (int or float)
# Cualquier colección vacía --> [], "", (), {}

# El None no actúa como un número al compararlo con otro número
"""
El True lo toma como un numérico 1
"""

# Bucles For, While

In [ ]:
# Lista alturas

## Funciones