# Python | Programación funcional

### Ejercicio 1.

1. Utiliza `reduce` para concatenar estas palabras en una frase
```Python
ejer_1 = ("to", "be", "or", "not", "to", "be", "that", "is", "the", "question")
```

In [2]:
ejer_1 = ("to", "be", "or", "not", "to", "be", "that", "is", "the", "question")
from functools import reduce
reduce(lambda x, y: x + " " + y, ejer_1)

'to be or not to be that is the question'

2. Obtén una nueva tupla con el cuadrado de cada elemento de la siguiente tupla

```Python
ejer_2 = (1,2,3,4,5)
```

In [4]:
ejer_2 = (1,2,3,4,5)
lista_ejer_2 = tuple(map(lambda x: x** 2, ejer_2))
lista_ejer_2

(1, 4, 9, 16, 25)

3. Filtra aquellos elementos que sean multiplos de 3 o de 5
```Python
ejer_3 = (1,2,3,4,5,15,21,22,33,34,35)
```

In [6]:
ejer_3 = (1,2,3,4,5,15,21,22,33,34,35)
lista_filtrada = list(filter(lambda x: x%3 == 0 or x%5 == 0,ejer_3))
lista_filtrada

[3, 5, 15, 21, 33, 35]

4. Convierte la siguiente tupla de pesetas a euros
```Python
ejer_4 = (1000, 8000, 20000000, 40000000)
```

In [11]:
ejer_4 = (1000, 8000, 20000000, 40000000)
euros = list(map(lambda x: str(round(x/166.386, 2)) + "€" , ejer_4))
euros

['6.01€', '48.08€', '120202.42€', '240404.84€']

5. Convierte la siguiente lista de desconocidos a mayusculas
```Python
ejer_5 = ("Arya", "John", "Robb", "Bran", "Sansa", "Rickon")
```

In [14]:
ejer_5 = ("Arya", "John", "Robb", "Bran", "Sansa", "Rickon")
got = list(map(lambda x : x.upper(),ejer_5))
got

['ARYA', 'JOHN', 'ROBB', 'BRAN', 'SANSA', 'RICKON']

6. Realiza un conversor de dias de la semana en texto a numerico (1-7), usando `map`.
```Python
ejer_6 = ("Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo")
```

In [11]:
ejer_6 = ("Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo")
cont = [1,2,3,4,5,6,7]
diccionario = dict(zip(ejer_6,cont))
diccionario
semana = list(map(lambda value: value, diccionario.values()))
semana

[1, 2, 3, 4, 5, 6, 7]

7. Utiliza `map` para multiplicar elemento a elemento estas dos tuplas
```Python
ejer_7_1 = (2, 5, 8)
ejer_7_2 = (6, 3, 2)
```

In [42]:
ejer_7_1 = (2, 5, 8)
ejer_7_2 = (6, 3, 2)

lista_mult = list(map(lambda x,y: x*y, ejer_7_1,ejer_7_2 ))
lista_mult

[12, 15, 16]

8. Crea una tupla nueva con todos los coches que no sean VW :)

```Python
ejer_8 = ("VW", "Audi", "Renault", "VW", "BMW")
```

In [24]:
ejer_8 = ("VW", "Audi", "Renault", "VW", "BMW")

nueva_t = tuple(filter(lambda x: x != "VW", ejer_8))
nueva_t

('Audi', 'Renault', 'BMW')

9. Dadas las siguientes fechas en formato string, quedate con aquellas del año 2020

```Python
ejer_9 = ("2019-04-08", "2020-10-10", "2020-01-22", "2019-07-13", "2019-02-01")
```

In [31]:
ejer_9 = ("2019-04-08", "2020-10-10", "2020-01-22", "2019-07-13", "2019-02-01")
list_2020 = list(filter(lambda x: "2020" in x , ejer_9))
list_2020

['2020-10-10', '2020-01-22']

10. Filtra aquellos strings que sean [palíndromos](https://es.wikipedia.org/wiki/Pal%C3%ADndromo)
```Python
ejer_10 = ("php", "w3r", "Python", "abcd", "Java", "aaa")
```

In [34]:
ejer_10 = ("php", "w3r", "Python", "abcd", "Java", "aaa")
palindromos = list(filter(lambda x: x == x[::-1], ejer_10))
palindromos

['php', 'aaa']

### Bonus Track.

- Resuelve esta kata usando `map`
https://www.codewars.com/kata/554b4ac871d6813a03000035

Nota: si es demasiado difícil intenta resolverla sin usar `map` y si lo consigues, vuelve a resolverla usando `map`.

In [18]:
string = "1 2 3 4 5"
def high_low(numbers :str):
    return max(numbers.split(" ")), min(numbers.split(" "))

high_low(string)

('5', '1')