# Python | day 4 | for loop, functions (feat. basics & if/else)

### Exercise 0.1 - Python Basics

1. What do we use to make a line break in a print? And for a tab stop?

have a look ---> http://elclubdelautodidacta.es/wp/2012/04/python-capitulo-31-exprimiendo-la-funcion-print/

In [ ]:
print('line_3\nline_4\n')
print('line_1\t.')

line_3
line_4

line_1	.

2. Make a converter from dollars to euros. You'll have to use input.

In [ ]:
exchange_rate = 0.84
d_t_c = int(input('Type you $ to convert')) # Dollars to convert
print(f'{d_t_c}$ Exchange rate: {exchange_rate}')
euros = round(d_t_c * exchange_rate, 2)
print(f'{euros}€\n---------\n')

Type you $ to convert12
12$ Exchange rate: 0.84
10.08€
---------

3. Declare two strings, one will be your first name and the other your last name. Declare your age in another variable. Print a sentence which include those variables, using ```f{}```. Wtf is that? check this out **-->** https://realpython.com/python-string-formatting/

In [ ]:
name = 'Homer J.'
surname = 'Simpson'
age = 38

print(f'{name} {surname}, {age} years old')

Homer J. Simpson, 38 years old

4. Given the list `[4,7, -3]`, calculate its maximum, minimum and sum.

In [ ]:
a_list = [4,7, -3]

print (f'Max: {max(a_list)}')
print (f'Min: {min(a_list)}')
print (f'Sum: {sum(a_list)}')

Max: 7
Min: -3
Sum: 8

5. Save the number `38.38276252728` to a variable called `number_dec` and round it to 5 decimal places.

In [ ]:
number_dec = 38.38276252728
rounded = round(number_dec, 5)
print(rounded)

38.38276

6. Declare a variable `phrase` with the value `"Born to be wild"` and make it uppercase, then lowercase, divide it by spaces, and finally, replace `"wild"` with `"Geek."`

In [ ]:
phrase = "Born to be wild"

print(phrase.upper())

print(phrase.lower())

print(phrase.split())

print(phrase.replace("wild", "Geek"))

BORN TO BE WILD
born to be wild
['Born', 'to', 'be', 'wild']
Born to be Geek

7. Create a program where two inputs are collected, and the output of the program is a boolean which tell the user whether those inputs are the same or not.

In [ ]:
inp_1 = input('Input #1> ')
print(inp_1)
inp_2 = input('Input #2> ')
print(inp_2)

if inp_1 == inp_2:
    boolean = True
    print("\n- They're equal")

else:
    boolean = False
    print("\n- They're not equal")

Input #1> 2
2
Input #2> 3
3

- They're not equal

In [ ]:
#using a function 

def chekcer ():
    """
    This function collects two inputs, and the output of the program is a boolean which tell the user whether those inputs are the same or not
    """
    inp_1 = input('Input #1> ')
    print(inp_1)
    inp_2 = input('Input #2> ')
    print(inp_2)

    if inp_1 == inp_2:
        boolean = True
        print("\n- They're equal")

    else:
        boolean = False
        print("\n- They're not equal")

    return boolean

boolean_returned = chekcer()
print(f'{boolean_returned} <- Value of the returned variable')
print(f'{type(boolean_returned)} <- Type of the returned variable')

Input #1> 3
3
Input #2> 3
3

- They're equal
True <- Value of the returned variable
<class 'bool'> <- Type of the returned variable

### Exercise 0.2 - If/else

1. Create a decission tree using if/else sentences, to determine the price of the movies ticket. If the client's age is between 5 and 15 years, both included, the price will be 5, if she/he is retired and the movie is one of the `peliculas_discount`, the price is 4. In any other case, it will be 7 euros.

You should create the list of `peliculas_discount` with your favourites movies.

In [ ]:
age = int(input('Age of client> '))
movie = input('Movie>')
movies_discount = ['The Thing', 'Star Trek VI', 'Lord Of The Rings', 'Aquaman']

if age >= 5 and age <= 15:
    price = 5
elif age >= 67 and movie in movies_discount:
    price = 4
else:
    price = 7

print(f'Age: {age} Movie: {movie}')
print (f'Price of ticket is {price}€')

Age of client> 13
Movie>The Thing
Age: 13 Movie: The Thing
Price of ticket is 5€

### Exercise 1 - For

1. You are witnessing an epic battle between two powerful sorcerers: Gandalf and Saruman. Each sorcerer has 10 spells of variable power in their mind and they are going to throw them one after the other. The winner of the duel will be the one who wins more of those clashes between spells. Spells are represented as a list of 10 integers whose value equals the power of the spell.

```python
gandalf = [10, 11, 13, 30, 22, 11, 10, 33, 22, 22]
saruman = [23, 66, 12, 43, 12, 10, 44, 23, 12, 17]
```

For example:

The first clash is won by Saruman: 10 against 23, wins 23
The second clash wins Saruman: 11 against 66, wins 66
etc.
You will create two variables, one for each sorcerer, where the sum of clashes won will be stored. Depending on which variable is greater at the end of the duel, you will show one of the following three results on the screen:
```
Gandalf wins
Saruman wins
Tie
```

In [ ]:
# Assign spell power lists to variables
gandalf = [10, 11, 13, 30, 22, 11, 10, 33, 22, 22]
saruman = [23, 66, 12, 43, 12, 10, 44, 23, 12, 17]

# Assign 0 to each variable that stores the victories
gandalf_victories = 0
saruman_victories = 0

# Execution of spell clashes
for gandalf_spell, saruman_spell in zip(gandalf, saruman):
    if gandalf_spell > saruman_spell:
        gandalf_victories += 1
        print(f'Gandalf value is {gandalf_spell}. Saruman value is {saruman_spell}. \nGandalf wins')
    elif gandalf_spell < saruman_spell:
        saruman_victories += 1
        print(f'Gandalf value is {gandalf_spell}. Saruman value is {saruman_spell}. \nSaruman wins')
    else:
        print(f"Gandalf value is {gandalf_spell}. Saruman value is {saruman_spell}. \nIt's a tie!")
print(f'Total Gandalf victories are {gandalf_victories}. \nTotal Saruman victories are {saruman_victories}')

Gandalf value is 10. Saruman value is 23.
Saruman wins
Gandalf value is 11. Saruman value is 66.
Saruman wins
Gandalf value is 13. Saruman value is 12.
Gandalf wins
Gandalf value is 30. Saruman value is 43.
Saruman wins
Gandalf value is 22. Saruman value is 12.
Gandalf wins
Gandalf value is 11. Saruman value is 10.
Gandalf wins
Gandalf value is 10. Saruman value is 44.
Saruman wins
Gandalf value is 33. Saruman value is 23.
Gandalf wins
Gandalf value is 22. Saruman value is 12.
Gandalf wins
Gandalf value is 22. Saruman value is 17.
Gandalf wins
Total Gandalf victories are 6.
Total Saruman victories are 4

### Exercise 2 - Functions

1. Write a function program to sum up two given different numbers.

In [ ]:
def adder (num_1, num_2):
    """
    This function sums two different numbers, prints the result and returns it for further use.
    """
    num_3 = num_1 + num_2
    print(f'Result: {num_3}')

    return num_3

Call the function you've just defined to sum up: 
    - 5 and 6
    - -3 and 10
    - 99 and 789

In [ ]:
adder(num_1 = 5, num_2 = 6)

Result: 11

11

In [ ]:
adder(num_1 = -3, num_2 = 10)

Result: 7

7

In [ ]:
adder(num_1 = 99, num_2 = 789)

Result: 888

888

### Bonus Track

2. Write a Python program to convert a tuple of characters into a string.

    - Sample tuple: `("T", "H", "E", " ", "B", "R", "I", "D", "G", "E")`
    - Expected output : `"THE BRIDGE"`
    
Hint: Turn it into a list.

In [ ]:
tup = ("T", "H", "E", " ", "B", "R", "I", "D", "G", "E")

def tup_converter(tupl):
    """
    Program to convert a tuple of characters into a string
    """
    result = ''.join(tupl)
    return result

In [ ]:
tup_converter(tup)

'THE BRIDGE'

3. Write a Python program to generate a list where the values are square of numbers between 1 and 30 (both included), and return a list of first and last 5 elements of the list.

In [ ]:
def strange_square ():
    """
    Write a Python program to generate a list where the values are square of numbers between 1 and 30 (both included), and return a list of first and last 5 elements of the list.
    """
    number = 1
    number_list = []
    
    for n in range(30):
        num_r = number ** 2
        number_list.append(num_r)
        number += 1
    return number_list[:5] + number_list[-5:] 

the_list = strange_square()
the_list

[1, 4, 9, 16, 25, 676, 729, 784, 841, 900]

4. Create a program that calculates the average.

The program will ask the user to specify how many numbers you want to enter, and will show a prompt to include number by number to a list, and then calculate the average of each number in that list.

In [ ]:
def average_calculator ():
    choice = int(input('How many numbers will you want?: '))
    a_list = []

    for n in range(choice):
        numbers = int(input('Add your number: '))
        a_list.append(numbers)
    
    average = int(sum(a_list))/int(len(a_list))
    
    return average

average = average_calculator()
print (average)

How many numbers will you want?: 4
Add your number: 4
Add your number: 4
Add your number: 5
Add your number: 6
4.75

# If you made it till here you did a fantastic work!

!["holo"](https://img-9gag-fun.9cache.com/photo/aNg9wMK_460s.jpg)