# Python | day 4 | for loop, functions (feat. basics & if/else)

### Exercise 0.1 - Python Basics

1. What do we use to make a line break in a print? And for a tab stop?

have a look ---> http://elclubdelautodidacta.es/wp/2012/04/python-capitulo-31-exprimiendo-la-funcion-print/

In [ ]:
# For a line break \n
# For a tab stop break

2. Make a converter from dollars to euros. You'll have to use input.

In [4]:
dollar = input("Dollars")
euro = float(dollar) * 0.84
print(euro)

1.68

3. Declare two strings, one will be your first name and the other your last name. Declare your age in another variable. Print a sentence which include those variables, using ```f{}```. Wtf is that? check this out **-->** https://realpython.com/python-string-formatting/

In [29]:
first_name = "Isabel"
last_name = "Palomares"
age = 24
f = {first_name, last_name, age} 
print(f)
# It's a dictionary

{24, 'Isabel', 'Palomares'}

4. Given the list `[4,7, -3]`, calculate its maximum, minimum and sum.

In [19]:
list4 = [4,7, -3]
print(max(list4))
print(min(list4))
print(sum(list4))

7
-3
8

5. Save the number `38.38276252728` to a variable called `number_dec` and round it to 5 decimal places.

In [16]:
numer_dec = 38.38276252728
round(numer_dec, 5)

38.38276








6. Declare a variable `phrase` with the value `"Born to be wild"` and make it uppercase, then lowercase, divide it by spaces, and finally, replace `"wild"` with `"Geek."`

In [15]:
phrase = "Born to be wild"
print(phrase.upper())
print(phrase.lower())
print(phrase.split())
print(phrase.replace("wild","Geek"))

BORN TO BE WILD
born to be wild
['Born', 'to', 'be', 'wild']
Born to be Geek

7. Create a program where two inputs are collected, and the output of the program is a boolean which tell the user whether those inputs are the same or not.

In [31]:
in1 = int(input("Hours"))
in2 = int(input("Hours 2"))

output1 = True
output2 = False  

if in1 == in2:
    x= output1
else:
    x = output2
print(x)

True

### Exercise 0.2 - If/else

1. Create a decission tree using if/else sentences, to determine the price of the movies ticket. If the client's age is between 5 and 15 years, both included, the price will be 5, if she/he is retired and the movie is one of the `peliculas_discount`, the price is 4. In any other case, it will be 7 euros.

You should create the list of `peliculas_discount` with your favourites movies.

In [26]:
edad = input("Age")
edad1 = int(age)
retired = input("Are you retired?")
peliculas_discount = ["Revolver", "Big Night", "Aviador", "Aliados", "El golpe", "Frank"]
film = input("What film are you going to watch?")

if edad1 >= 5 and edad1 <= 15 :
    print ("The price is 5")
if (peliculas_discount is film) and (retired is "yes") or (retired is "Yes"):
    print("The price is 4")
else:
    print("The price is 7")

The price is 7

### Exercise 1 - For

1. You are witnessing an epic battle between two powerful sorcerers: Gandalf and Saruman. Each sorcerer has 10 spells of variable power in their mind and they are going to throw them one after the other. The winner of the duel will be the one who wins more of those clashes between spells. Spells are represented as a list of 10 integers whose value equals the power of the spell.

```python
gandalf = [10, 11, 13, 30, 22, 11, 10, 33, 22, 22]
saruman = [23, 66, 12, 43, 12, 10, 44, 23, 12, 17]
```

For example:

The first clash is won by Saruman: 10 against 23, wins 23
The second clash wins Saruman: 11 against 66, wins 66
etc.
You will create two variables, one for each sorcerer, where the sum of clashes won will be stored. Depending on which variable is greater at the end of the duel, you will show one of the following three results on the screen:
```
Gandalf wins
Saruman wins
Tie
```

In [57]:
gandalf = [10, 11, 13, 30, 22, 11, 10, 33, 22, 22]
saruman = [23, 66, 12, 43, 12, 10, 44, 23, 12, 17]

gandalfganadas = []
sarumanganadas = []

for i, valor in enumerate(gandalf):
    if gandalf[i] > saruman[i]:
        gandalfganadas.append(1)
    elif saruman[i] > gandalf[i]:
        sarumanganadas.append(1)
    else:
        sarumanganadas.append(1)
        gandalfganadas.append(1)

if len(gandalfganadas) > len(sarumanganadas):
    print("Gandalf wins")

else:
    print("Sarauman wins")

Gandalf wins

### Exercise 2 - Functions

1. Write a function program to sum up two given different numbers.

In [45]:
x = 1
y = 2
z = 3
def suma ():
    print (x + y + z)
suma()

6

Call the function you've just defined to sum up: 
    - 5 and 6
    - -3 and 10
    - 99 and 789

In [46]:
x = -5
y = 6
z = -3
suma ()

-2

In [47]:
x = 10
y = -99
z = 789

suma()

700

### Bonus Track

2. Write a Python program to convert a tuple of characters into a string.

    - Sample tuple: `("T", "H", "E", " ", "B", "R", "I", "D", "G", "E")`
    - Expected output : `"THE BRIDGE"`
    
Hint: Turn it into a list.

3. Write a Python program to generate a list where the values are square of numbers between 1 and 30 (both included), and return a list of first and last 5 elements of the list.

4. Create a program that calculates the average.

The program will ask the user to specify how many numbers you want to enter, and will show a prompt to include number by number to a list, and then calculate the average of each number in that list.

# If you made it till here you did a fantastic work!

!["holo"](https://img-9gag-fun.9cache.com/photo/aNg9wMK_460s.jpg)