# 03 - Deleting & handling missing values - Iris

### Step 1. Import the necessary libraries

In [55]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data).

### Step 3. Assign it to a variable called iris

In [16]:
iris = pd.read_csv(("iris.data"), names=["sepal_length (in cm)","sepal_width (in cm)","petal_length (in cm)","petal_width (in cm)","class"])
iris

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm),class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

### Step 4. Call the columns for the dataset as follows:
1. sepal_length (in cm)
2. sepal_width (in cm)
3. petal_length (in cm)
4. petal_width (in cm)
5. class

In [57]:
iris.columns = 
iris

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm,petal_width (in cm),class
0,4.9,3.0,1.4,0.2,Iris-setosa
1,4.7,3.2,1.3,0.2,Iris-setosa
2,4.6,3.1,1.5,0.2,Iris-setosa
3,5.0,3.6,1.4,0.2,Iris-setosa
4,5.4,3.9,1.7,0.4,Iris-setosa
...,...,...,...,...,...
144,6.7,3.0,5.2,2.3,Iris-virginica
145,6.3,2.5,5.0,1.9,Iris-virginica
146,6.5,3.0,5.2,2.0,Iris-virginica
147,6.2,3.4,5.4,2.3,Iris-virginica
148,5.9,3.0,5.1,1.8,Iris-virginica

### Step 5.  Is there any missing value in the dataframe?

In [58]:
Nan = pd.isnull(iris).sum().sum()
Nan
#There are not missing values

0

### Step 6.  Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

In [59]:
iris.iloc[10:30,2:3] = np.nan
Nan = pd.isnull(iris).sum().sum()
Nan

20

### Step 7. Good, now lets substitute the NaN values to 1.0

In [60]:
iris= iris.fillna("1.0")
iris

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm,petal_width (in cm),class
0,4.9,3.0,1.4,0.2,Iris-setosa
1,4.7,3.2,1.3,0.2,Iris-setosa
2,4.6,3.1,1.5,0.2,Iris-setosa
3,5.0,3.6,1.4,0.2,Iris-setosa
4,5.4,3.9,1.7,0.4,Iris-setosa
...,...,...,...,...,...
144,6.7,3.0,5.2,2.3,Iris-virginica
145,6.3,2.5,5.0,1.9,Iris-virginica
146,6.5,3.0,5.2,2.0,Iris-virginica
147,6.2,3.4,5.4,2.3,Iris-virginica
148,5.9,3.0,5.1,1.8,Iris-virginica

### Step 8. Now let's delete the column class

In [61]:
iris = iris.drop(["class"],axis=1)
iris

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm,petal_width (in cm)
0,4.9,3.0,1.4,0.2
1,4.7,3.2,1.3,0.2
2,4.6,3.1,1.5,0.2
3,5.0,3.6,1.4,0.2
4,5.4,3.9,1.7,0.4
...,...,...,...,...
144,6.7,3.0,5.2,2.3
145,6.3,2.5,5.0,1.9
146,6.5,3.0,5.2,2.0
147,6.2,3.4,5.4,2.3
148,5.9,3.0,5.1,1.8

### Step 9.  Set the first 3 rows as NaN

In [62]:
iris.iloc[:3,:] = np.nan
iris.head()

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm,petal_width (in cm)
0,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN
3,5.0,3.6,1.4,0.2
4,5.4,3.9,1.7,0.4

### Step 10.  Delete the rows that have NaN

In [63]:
iris = iris.dropna()
iris

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm,petal_width (in cm)
3,5.0,3.6,1.4,0.2
4,5.4,3.9,1.7,0.4
5,4.6,3.4,1.4,0.3
6,5.0,3.4,1.5,0.2
7,4.4,2.9,1.4,0.2
...,...,...,...,...
144,6.7,3.0,5.2,2.3
145,6.3,2.5,5.0,1.9
146,6.5,3.0,5.2,2.0
147,6.2,3.4,5.4,2.3
148,5.9,3.0,5.1,1.8

### Step 11. Reset the index so it begins with 0 again

In [65]:
iris = iris.reset_index(drop=True)
iris

,index,sepal_length (in cm),sepal_width (in cm),petal_length (in cm,petal_width (in cm)
0,3,5.0,3.6,1.4,0.2
1,4,5.4,3.9,1.7,0.4
2,5,4.6,3.4,1.4,0.3
3,6,5.0,3.4,1.5,0.2
4,7,4.4,2.9,1.4,0.2
...,...,...,...,...,...
141,144,6.7,3.0,5.2,2.3
142,145,6.3,2.5,5.0,1.9
143,146,6.5,3.0,5.2,2.0
144,147,6.2,3.4,5.4,2.3
145,148,5.9,3.0,5.1,1.8