# SQL en Python
<img src=".\img\image-4.png" alt="EDA Path"
    title="A typical EDA path" width="600" height="300" />
## Conectamos con la base de datos

### Documentación de la librería SQLite3 que vamos a utilizar:
https://docs.python.org/3/library/sqlite3.html

In [2]:
# Importamos librerias
import pandas as pd 
import sqlite3

In [3]:
# Conectamos con la base de datos chinook.db
path = 'chinook.db'
connection = sqlite3.connect(path)

# Obtenemos un cursor que utilizaremos para hacer las queries
curs = connection.cursor()

In [4]:
# Creamos una Query sencilla
query = """
SELECT *
FROM genres
"""

In [6]:

my_querty = curs.execute(query)
my_querty

In [7]:
my_querty.fetchall()

[(1, 'Rock'),
 (2, 'Jazz'),
 (3, 'Metal'),
 (4, 'Alternative & Punk'),
 (5, 'Rock And Roll'),
 (6, 'Blues'),
 (7, 'Latin'),
 (8, 'Reggae'),
 (9, 'Pop'),
 (10, 'Soundtrack'),
 (11, 'Bossa Nova'),
 (12, 'Easy Listening'),
 (13, 'Heavy Metal'),
 (14, 'R&B/Soul'),
 (15, 'Electronica/Dance'),
 (16, 'World'),
 (17, 'Hip Hop/Rap'),
 (18, 'Science Fiction'),
 (19, 'TV Shows'),
 (20, 'Sci Fi & Fantasy'),
 (21, 'Drama'),
 (22, 'Comedy'),
 (23, 'Alternative'),
 (24, 'Classical'),
 (25, 'Opera')]

In [10]:
# Con esta función leemos los datos y lo pasamos a un DataFrame de Pandas
def sql_query(query):
    curs.execute(query)
    datos_query = curs.fetchall()
    col_names = [description[0] for description in curs.description]
    return pd.DataFrame(datos_query,columns=col_names)
sql_query(query)

    GenreId                Name
0         1                Rock
1         2                Jazz
2         3               Metal
3         4  Alternative & Punk
4         5       Rock And Roll
5         6               Blues
6         7               Latin
7         8              Reggae
8         9                 Pop
9        10          Soundtrack
10       11          Bossa Nova
11       12      Easy Listening
12       13         Heavy Metal
13       14            R&B/Soul
14       15   Electronica/Dance
15       16               World
16       17         Hip Hop/Rap
17       18     Science Fiction
18       19            TV Shows
19       20    Sci Fi & Fantasy
20       21               Drama
21       22              Comedy
22       23         Alternative
23       24           Classical
24       25               Opera

In [ ]:
# Tambien podemos obtener el mismo resultado directamente con pandas

## Ya podemos comenzar con la práctica de chinook:
Antes de empezar a atacar una base de datos, tendremos que saber qué hay dentro, y para ello lo mejor es ver cómo es su **modelo de datos**

![imagen](./img/chinook_data_model.png)

### 1.	Facturas de Clientes de Brasil, Nombre del cliente, Id de factura, fecha de la factura y el país de la factura

### 2.	Facturas de Clientes de Brasil

### 3.	Muestra cada factura asociada a cada agente de ventas con su nombre completo.

### 4.	Para cada factura muestra el nombre del cliente, el país, el nombre del agente y el total

### 5.	Muestra cada artículo de la factura con el nombre de la canción.

### 6.	Muestra todas las canciones con su nombre, formato, álbum y género.

### 7.	Muestra cuántas canciones hay en cada playlist y el nombre de cada playlist.

### 8.	Muestra cuánto ha vendido cada empleado.

### 9.	¿Quién ha sido el agente de ventas que más ha vendido en 2009?

### 10.	¿Cuáles son los 3 grupos que más han vendido?

### 11. Muestra cuántas canciones de Rock hay en cada playlist

### 12. Muestra una tabla con todas canciones y su(s) Id de factura, hayan sido vendidas alguna vez o no.

### 13. ¿Cuántos artistas no tienen ningún album?